<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
    <title>Famous Quote Finder</title>
</head>

<body class="bg-light">
    <%- include('partials/nav') %>
    <div class="container py-5">
        <h1 class="bg-primary text-white rounded-3 mb-5 p-4 shadow">Famous Quote Finder</h1>

        <div class="row justify-content-center">
            <div class="col-md-6 mb-4">
                <div class="card shadow">
                    <div class="card-body">
                        <form action="/searchByKeyword" method="GET">
                            <div class="mb-3">
                                <label for="keyword" class="form-label">Input search term:</label>
                                <input type="text" class="form-control" id="keyword" oninput="validateInput()"
                                    name="keyword" placeholder="Enter keyword">
                            </div>
                            <button class="btn btn-success w-100">Search by Keyword</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-4">
                <div class="card shadow">
                    <div class="card-body">
                        <form action="/searchByAuthor" method="GET">
                            <div class="mb-3">
                                <label for="authorId" class="form-label">Select an author:</label>
                                <select class="form-select" id="authorId" name="authorId">
                                    <option value="" selected>Select an author</option>
                                    <% for (let authorRow of authorsRows) { %>
                                        <option value="<%=authorRow.authorId%>">
                                            <%=authorRow.firstName%>
                                                <%=authorRow.lastName%>
                                        </option>
                                        <% } %>
                                </select>
                            </div>
                            <button class="btn btn-success w-100">Search by Author</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-4">
                <div class="card shadow">
                    <div class="card-body">
                        <form action="/searchByCategory" method="GET">
                            <div class="mb-3">
                                <label for="category" class="form-label">Select a category:</label>
                                <select class="form-select" id="category" name="category">
                                    <option value="" selected>Select a category</option>
                                    <% for (let categoryThing of categoryRows) { %>
                                        <option value="<%=categoryThing.category%>">
                                            <%=categoryThing.category%>
                                        </option>
                                        <% } %>
                                </select>
                            </div>
                            <button class="btn btn-success w-100">Search by Category</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card shadow">
                    <div class="card-body">
                        <form action="/searchByLikes" method="GET">
                            <div class="mb-3">
                                <label for="likes" class="form-label">Search quotes between these likes:</label>
                                <div class="row">
                                    <div class="col-6">
                                        <input type="number" class="form-control" id="likes" name="likesMin" min="1"
                                            placeholder="Enter minimum likes">
                                    </div>
                                    <div class="col-6">
                                        <input type="number" class="form-control" id="likes" name="likesMax" max="1000"
                                            placeholder="Enter Maximum likes">
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-success w-100">Search by Likes</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script>
        function validateInput() {
            const input = document.getElementById('keyword');
            if (input.value.length < 3) {
                input.setCustomValidity('Please enter at least 3 characters');
            } else {
                input.setCustomValidity('');
            }
        }
    </script>
</body>

</html>